a {
    color: black;
}

a:hover {
    text-decoration: none;
}

#histogram {
     width: 400px;
     height: 400px;
     opacity: 0.3;
}

#histogram2 {
     width: 400px;
     height: 400px;
     opacity: 0.3;
}

#histogram3 {
    margin: 30px;
    width: 440px;
    height: 360px;
    opacity: 0.3;
    float: left;
}

#histogram4 {
     margin: 30px;
     width: 440px;
     height: 360px;
     opacity: 0.3;
     float: left;
}

.new-habit {
    font-size: 220px;
    opacity: 0.2;
    color: white;
    background-color: black;
}

.create-new-habit {
    font-size: 200px;
}

.habit-container {
    text-align: center;
}

.back-arrow {
    font-size: 50px;
}

.back-arrow-container {
    margin-left: 30px;
    height: 30px;
}

.progress-summary {
    font-size: 27px;
}

.text-size {
    font-size: 50px;
}

.home-text-size {
    font-size: 20px;
}

.habit_chart {
    height: 440px;
    width: 1200px;
    margin-left: 80px;
}